<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Welcome, sign-up to create a character and start adventuring </h1>

<%= form_for(@user) do |f| %>

<%= f.label :username %>
<%= f.text_field :username %><br>

<%= f.label :email %>
<%= f.text_field :email %><br>

<%= f.label :password %>
<%= f.password_field :password %><br>

<%= f.submit %>

<%= link_to "Signup with Google", '/auth/google_oauth2' %>
<% end %>