<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@character.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @character.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h1>Create a Character</h1>

<%= form_for( @character) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f. label :race %>
<%= f.text_field :race %><br>

<%= f.label :klass, "Class"  %>
<%= f.text_field :klass %><br>


<%= f.submit "Create Character" %>
<% end %>
